@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div id="Privacy" data-post_id="10" class="__react-root"></div>

<partial name="_ImportReact" />